<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h2>Categorías:</h2>
  <ul>
    {% for categoria in categorias %}
    <li>{{ categoria.nombre }}</li>
    {% endfor %}
  </ul>
  <h2>Productos:</h2>
  <ul>
    {% for producto in productos %}
    <li>{{ producto.nombre }}</li>
    {% endfor %}
  </ul>
  <h2>Clientes:</h2>
  <ul>
    {% for cliente in clientes %}
    <li>{{ cliente.nombre }}</li>
    {% endfor %}
  </ul>
</body>
</html>